@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  background-color: black;
  color: #f6f6f6;
  flex-direction: column;
}
header {
  background-color: #59fdfd;
  padding: 1%;
}
nav {
  text-align: center;
}

nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 30px;
  color: black;
  padding: 0 20px;
  border: 1px solid #000000;
  border-radius: 10px 0;
}
nav a:hover {
  /* color: rgb(8, 31, 236); */
  background-color: #088585;
}
main {
  flex: 1;
}
.tituloDestaque {
  color: #59fdfd;
}
.apresentacao {
  /* margin: 10% 15%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apresentacaoConteudo {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin: 50px;
}
.apresentacaoConteudo h1 {
  font-size: 30px;
  font-family: "Krona One", sans-serif;
}
.apresentacaoConteudo p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}
.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.redes h2 {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.redes a {
  /* background-color: #59fdfd; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 200px;
  border: 2px solid #59fdfd;
  border-radius: 10px 0;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
  color: #f6f6f6;
}
.redes a:hover {
  background-color: #272727;
  color: aqua;
  font-size: 17px;
}
.image img {
  width: 400px;
  margin: 10px;
}
/* SOBRE  */
.sobremim {
  text-align: center;
}
.sobremim h1 {
  color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
  padding-top: 3%;
}
.sobremim h2 {
  color: #59fdfd;
  font-family: "Montserrat", sans-serif;
}
.sobremim p {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin: 10px 30px;
  font-size: 20px;
  color: #f6f6f6;
}
footer {
  background-color: #59fdfd;
  padding: 1%;
  width: 100%;
}
footer p {
  color: black;
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
