@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --cor-principal: #000000;
  --cor-segundaria: #f6f6f6;
  --cor-hover: #088585;
  --cor-quartenaria: #59fdfd;
  --font-pricipal: "Montserrat", sans-serif;
  --font-secundaria: "Krona One", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  background-color: var(--cor-principal);
  color: var(--cor-segundaria);
  flex-direction: column;
}
header {
  background-color: var(--cor-quartenaria);
  padding: 1%;
}
nav {
  text-align: center;
}

nav a {
  font-family: var(--font-pricipal);
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  margin: 0 30px;
  color: var(--cor-principal);
  padding: 0 20px;
  border: 1px solid var(--cor-principal);
  border-radius: 10px 0;
}
nav a:hover {
  background-color: var(--cor-hover);
}
main {
  flex: 1;
}
.tituloDestaque {
  color: var(--cor-quartenaria);
}
.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apresentacaoConteudo {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin: 50px;
}

.apresentacaoConteudo h1 {
  font-size: 1.875rem;
  font-family: var(--font-secundaria);
}
.apresentacaoConteudo p {
  font-size: 0.938rem;
  font-family: var(--font-pricipal);
  text-align: justify;
}
.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.redes h2 {
  font-family: var(--font-secundaria);
  font-weight: 400;
  font-size: 1.25rem;
}
.redes a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 50%;
  border: 2px solid var(--cor-quartenaria);
  border-radius: 10px 0;
  font-size: 0.938rem;
  font-family: var(--font-pricipal);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
  color: var(--cor-segundaria);
}
.redes a:hover {
  background-color: #272727;
  color: var(--cor-quartenaria);
  font-size: 1.063rem;
}
.image img {
  width: 70%;
  margin: 10px;
}
/* SOBRE  */
.sobremim {
  text-align: center;
}
.sobremim h1 {
  color: var(--cor-segundaria);
  font-family: var(--font-pricipal);
  margin: 10px 0;
  padding-top: 3%;
}
.sobremim h2 {
  color: var(--cor-quartenaria);
  font-family: var(--font-pricipal);
}
.sobremim p {
  font-family: var(--font-pricipal);
  text-align: justify;
  margin: 10px 30px;
  font-size: 1.25rem;
  color: var(--cor-segundaria);
}
footer {
  background-color: var(--cor-quartenaria);
  padding: 1%;
  width: 100%;
}
footer p {
  color: var(--cor-principal);
  text-align: center;
  font-weight: 400;
  font-family: var(--font-pricipal);
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
   .menu nav a {
    font-size: 70%;
  }
  .apresentacao {
    flex-direction: column-reverse;
    text-align: center;
  }
  .apresentacaoConteudo h1, p {
    font-size: 1.05rem;
  }
  .sobremim {
    margin: 1%;
  }
  .sobremim h1{
    font-size: 1.30rem;
  }
  .sobremim h2 {
    font-size: 1rem;
  }

  .sobremim p {
    font-size: 1rem;
  }
 
  footer p {
    font-size: 1rem;
  }


}
